<form [formGroup]="bookForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label>ISBN</label>
        <input class="form-control" type="text" formControlName="isbn">
        <div class="feedback-error" *ngIf="isInvalid('isbn')">Die ISBN ist ungültig.</div>
        <div class="feedback-error" *ngIf="hasError('isbn', 'minlength')">Die ISBN ist zu kurz.</div>
    </div>

    <div class="form-group">
        <label>Titel</label>
        <input class="form-control" type="text" formControlName="title">
    </div>

    <div class="form-group">
        <label>Beschreibung</label>
        <textarea class="form-control" formControlName="description"></textarea>
    </div>

    <div class="form-group">
        <label>Bewertung</label>
        <input class="form-control" type="number" formControlName="rating">
        <div class="feedback-error" *ngIf="hasError('rating', 'min')">Rating ist zu niedrig.</div>
    </div>

    <div class="form-group">
        <label>Preis</label>
        <input class="form-control" type="number" formControlName="price">
    </div>

    <div formArrayName="authors">
        <button type="button" class="btn btn-secondary" (click)="addAuthor()">+</button>
        <div class="form-group" *ngFor="let c of authors.controls; index as i">
            <input type="text" class="form-control" [formControlName]="i">
        </div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="bookForm.invalid">Abschicken</button>

</form>

<pre>{{ bookForm.value | json }}</pre>